<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* Estilos personalizados */
        #formContainer {
            display: none;
        }
    </style>
</head>
<body class="bg-cover-center bg-white h-screen flex flex-col">

    <%if(login) {%>
        <!-- Barra de navegación -->
        <%- include ('plantilla/navbar') %>
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <%- include ('plantilla/Barra-lateral') %>
        <!-- Contenido principal -->
        <main class="w-3/4 p-4  contenido absolute top-16 left-1/4 bg-white">
       
            

            
            <% if (publicaciones) { %>
                <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
                    <div class="flex justify-between items-center mb-4">
                        <a href="/perfil/<%= publicaciones.EstudianteID %>" class="flex items-center">
                            <img src="../<%= publicaciones.Perfil %>" alt="Foto de perfil" class="h-12 w-12 rounded-full mr-4 shadow-lg">
                            <h1 class="text-xl font-semibold">
                                <%= publicaciones.Nombre %> <%= publicaciones.Apellidos %>
                                <span class="text-gray-500 text-sm ml-2">(<%= publicaciones.Usuario %>)</span>
                            </h1>
                        </a>
                        <div class="text-sm text-gray-500">
                            <%= new Date(publicaciones.Fecha).toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }) %> <%= publicaciones.Hora %>
                            <input type="hidden" name="idpublic" id="idpublic" value="<%= publicaciones.PublicacionID %>">
                            
                            <% if (TipoUsuario == "Mod") {%>
                                <a href="#" id="Boton2" class="p-8">
                                    <i class='bx bx-dots-horizontal-rounded text-2xl' undefined ></i>
                                </a>
                                <div id="MenuDesplegable2" class="absolute flex flex-col bg-white rounded-lg shadow-md p-4 z-10 hidden">
                                    <a href="#" id="Boton10" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300 text-red-600"><i class='bx bxs-shield-x' ></i> Reportar</a>
                                </div>
                            <%} else { %> 
                                <a href="#" id="Boton2" class="p-8">
                                    <i class='bx bx-dots-horizontal-rounded text-2xl' undefined ></i>
                                </a>
                                <div id="MenuDesplegable2" class="absolute flex flex-col bg-white rounded-lg shadow-md p-4 z-10 hidden">
                                    <a href="#" id="Boton10" class="text-sm mb-2 px-4 py-1 rounded-md hover:bg-gray-300 focus:outline-none focus:bg-gray-300 text-red-600"><i class='bx bxs-shield-x' ></i> Reportar</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <h2 class="text-2xl font-semibold mb-2"><%= publicaciones.Titulo %></h2>
                    <p class="text-gray-700 mb-4"><%= publicaciones.Descripcion %></p>
                    <a href="../<%= publicaciones.RutaArchivo %><%= publicaciones.TipoArchivo %>" target="_blank" class="flex items-center bg-gray-100 border border-gray-300 rounded-md py-2 px-4 w-full mb-4">
                        <% if (publicaciones.TipoArchivo === '.pdf') { %>
                            <i class='bx bxs-file-pdf text-2xl mr-2' style='color:#ef1111'></i>
                        <% } else if (publicaciones.TipoArchivo === '.docx') { %>
                            <i class='bx bxs-file-doc text-2xl mr-2' style='color:#052890'></i>
                        <% } else { %>
                            <i class='bx bx-file-find text-2xl mr-2' style='color:#ffed25'></i>
                        <% } %>
                        <span class="text-gray-600"><%= publicaciones.ReNombre %></span>
                    </a>
                    <div class="flex justify-between items-center text-xl mt-4">
                        <button class="focus:outline-none">
                            <i class="bx bx-like text-2xl text-gray-600 hover:text-blue-500"></i>
                        </button>
                    </div>

                    <% if (TipoUsuario === 'User' && IdUser !== publicaciones.EstudianteID) { %>
                    <div class="flex flex-col justify-between items-center text-xl mt-4">
                        <a href="../chat/<%= publicaciones.EstudianteID %>">
                            <i class='bx bx-chat text-2xl'></i>
                        </a>
                    </div>
                    <% } else { %>
                        <div class="flex flex-col justify-between items-center text-xl mt-4">
                            <div class="opacity-50 cursor-not-allowed"> <!-- Se disminuye la opacidad y se cambia el cursor -->
                                <i class='bx bx-chat text-2xl'></i> <!-- Ícono que parece deshabilitado -->
                            </div>
                        </div>
                        
                    <% } %>
                </div>
                <div class="bg-white shadow rounded-lg p-4 mt-4">
                    <div class="text-lg font-semibold mb-2">Comentarios</div>
                    <% if (results2 && results2.length > 0) { %>
                        <% results2.forEach((coments) => { %>
                            <div class="bg-gray-100 rounded-md p-3 mb-3">
                                <div class="flex items-start">
                                    <img src="../<%= coments.Perfil %>" alt="Perfil" class="h-10 w-10 rounded-full mr-3"> 
                                    <div class="flex flex-col w-full">
                                        <div class="text-sm font-medium text-gray-700">
                                            <%= coments.Usuario %> 
                                        </div>
                                        <div class="text-gray-600 text-sm">
                                            <%= coments.Contenido %>
                                        </div>
                                        <div class="text-xs text-gray-500 mt-2">
                                            <%= new Date(coments.ComentarioFecha).toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }) %> a las <%= coments.ComentarioHora %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <div class="text-gray-500 italic">No hay comentarios aún.</div>
                    <% } %>
                </div><br><br><br><br><br><br><br><br>
                
                <% if (TipoUsuario == 'User') {%>
                    <div class="fixed bottom-0 w-3/4 right-0 bg-white p-4 border-t border-gray-200">
                        <form action="/enviarComentario" method="POST">
                            <input type="hidden" name="Publicacion2" id="Publicacion2" value="<%= publicaciones.PublicacionID %>">
                            <div class="mb-4">
                                <textarea id="comentario" name="comentario" class="mt-1 p-2 w-full border rounded-md" rows="3" placeholder="Escribe tu comentario..." required></textarea>
                            </div>
                            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200">Enviar</button>
                        </form>
                    </div>
                <% } else { %>
                    <div class="fixed bottom-0 w-3/4 right-0 bg-gray-100 p-4 border-t border-gray-300 ">
                        <form action="/enviarComentario" method="POST" onsubmit="return false;"> 
                          <input type="hidden" name="Publicacion2" id="Publicacion2" value="<%= publicaciones.PublicacionID %>">
                          <div class="mb-4">
                            <textarea 
                              id="comentario" 
                              name="comentario" 
                              class="mt-1 p-2 w-full border rounded-md bg-gray-200 cursor-not-allowed" 
                              rows="3" 
                              placeholder="Formulario deshabilitado..." 
                              disabled
                            ></textarea> <!-- Clase para indicar deshabilitado y atributo `disabled` -->
                          </div>
                          <button 
                            type="submit" 
                            class="w-full bg-gray-400 text-white p-2 rounded-md cursor-not-allowed" 
                            disabled
                          >
                            Enviar
                          </button> <!-- Clase para indicar deshabilitado y atributo `disabled` -->
                        </form>
                      </div>
                      
                        
                <% } %>
                
                  <% if (TipoUsuario == "Mod") {%>
                    <div class="bg-red-500 text-white text-center p-3 fixed top-0 left-0 right-0 z-50 flex items-center justify-between">
                        <span>¡Advertencia! Como usuario moderador no puedes hacer comentarios, ni ninguna interacción</span>
                        <button class="text-white hover:text-gray-200 focus:outline-none" onclick="closeAlert()">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                    <%} else { %>  
                        <!-- Modal -->
                <div id="MenuDesplegable10" class="fixed z-10 inset-0 overflow-y-auto hidden" id="modal">
                    <div class="flex items-center justify-center min-h-screen p-4">
                      <div class="fixed inset-0 transition-opacity">
                        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                      </div>
                      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                        <div class="p-4">
                          <!-- Título del modal -->
                          <div class="flex items-center justify-between">
                            <h1 class="text-xl font-bold">Motivo del Reporte</h1>
                            <a href="" class="text-gray-500 text-2xl hover:text-gray-700 focus:outline-none">
                                <i class='bx bx-x' class="w-6 h-6" undefined ></i>
                            </a>
                          </div>
                          <div class="mt-4">
                            <form id="reportForm" action="/EnviarReporte" method="POST">
                                <input type="hidden" name="IdPublicacionModal" id="IdPublicacionModal" value="<%= publicaciones.PublicacionID %>">
                              <!-- Input para el motivo del reporte -->
                              <label for="motivo" class="block mb-2">Motivo:</label>
                              <textarea id="motivo" name="motivo" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring focus:border-blue-300" rows="4"></textarea>
                              <!-- Botones del modal -->
                              <div class="mt-6 flex justify-end">
                                <a href="" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg mr-2 hover:bg-gray-300 focus:outline-none">Cancelar</a>
                                <button type="submit" form="reportForm" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none">Enviar Reporte</button>
                              </div>
                            </form>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
            <% } %>
            
              
            
              
            
              
            
            
            
            
            


            
            
            

        </main>
    </div>
     <%} else { %>
            <%- include ('plantilla/logout') %>
    <% } %>

    
    <script>
        // Obtener referencias a los botones y los íconos de "like"
        const likeButtons = document.querySelectorAll('.likeButton');

        // Agregar evento de clic a cada botón de "like"
        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', function() {
                // Obtener el ícono de "like" dentro del botón actual
                const likeIcon = this.querySelector('.likeIcon');

                // Cambiar el color del ícono dependiendo del estado
                if (likeIcon.classList.contains('text-gray-600')) {
                    likeIcon.classList.remove('text-gray-600');
                    likeIcon.classList.add('text-blue-500');
                } else {
                    likeIcon.classList.remove('text-blue-500');
                    likeIcon.classList.add('text-gray-600');
                }

                // Aquí puedes agregar lógica adicional, como enviar una solicitud al servidor para registrar el like.
            });
        });

    </script>
    <script>
        function closeAlert() {
          document.querySelector('.bg-red-500').style.display = 'none';
        }
        </script>
    <script>
        // Obtener el botón y el menú
        var boton2 = document.getElementById('Boton2');
        var menu2 = document.getElementById('MenuDesplegable2');
      
        // Función para alternar la visibilidad del menú
        boton2.onclick = function() {
          if (menu2.style.display === 'block') {
            menu2.style.display = 'none';
          } else {
            menu2.style.display = 'block';
          }
        };
      </script>
      <script>
        // Obtener el botón y el menú
        var boton10 = document.getElementById('Boton10');
        var menu10 = document.getElementById('MenuDesplegable10');
      
        // Función para alternar la visibilidad del menú
        boton10.onclick = function() {
          if (menu10.style.display === 'block') {
            menu10.style.display = 'none';
          } else {
            menu10.style.display = 'block';
          }
        };
      </script>
      

</body>
</html>