<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    

    <title>Editar</title>
</head>
<body >
    <% if (user) { %>
    <div class="min-h-screen flex items-center justify-center bg-gray-100" style="background-image: url('https://i.pinimg.com/564x/27/46/ad/2746ad7efb5f2f388e2e0abf8b68cee9.jpg');">
        <div class="bg-white p-8 rounded-lg shadow-md w-96 opacity-80">
            <h1 class="text-2xl font-semibold mb-4">Editar</h1>
            <form action="/update" method="post">
                <input name="PersonaID" id="PersonaID" value="<%= user.PersonaID %>" hidden>
                <div class="mb-4">
                    <label for="Nombre" class="block text-sm font-medium text-gray-600">Nombre</label>
                    <input type="text" id="Nombre" name="Nombre" class="mt-1 p-2 w-full border rounded-md" placeholder="Nombre..." value="<%= user.Nombre %>" required>
                </div>
                <div class="mb-4">
                    <label for="Apellidos" class="block text-sm font-medium text-gray-600">Apellidos</label>
                    <input type="text" id="Apellidos" name="Apellidos" class="mt-1 p-2 w-full border rounded-md" placeholder="Ingrese su apellido..." value="<%= user.Apellidos %>" required>
                </div>
                <div class="mb-4">
                    <label for="AreaEstudio" class="block text-sm font-medium text-gray-600">Area de Estudio</label>
                    <input type="text" id="AreaEstudio" name="AreaEstudio" class="mt-1 p-2 w-full border rounded-md" placeholder="Ingrese su área de estudio..." value="<%= user.AreaEstudio %>" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
                    <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md" placeholder="Ingrese su correo..." value="<%= user.CorreoElectronico %>" required>
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200">Registrarse</button>
                <p class="text-sm text-red-600 mt-2 hidden">Error al registrarse</p>
            </form>
            <a href="../users" class="block text-center mt-4 text-blue-500 hover:text-blue-600">Cancelar</a>
        </div>
    </div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%if (typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: '<%= showConfirmButton %>',
                timer: '<%= timer %>'

            }).then(()=>{
                window.location='/<%=ruta%>'
            })
        </script>
    <% } %>
</body>
</html>

