<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
</head>
<body class="bg-cover-center bg-white h-screen flex flex-col">

    <%if(login) {%>
        <!-- Barra de navegación -->
        <%- include ('plantilla/navbar') %>
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <%- include ('plantilla/Barra-lateral') %>
        <!-- Contenido principal -->
        <main class="w-3/4 p-4 contenido absolute top-16 left-1/4">
        
            
                    <div class="container mx-auto">
                        <section id="SearchResults"></section>
                        <% results.forEach((files) => { %> 
                            <section class="bg-gray-100 py-8">
                                <div class="container mx-auto overflow-y-auto">
                                    <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg relative">
                                        <a href="/perfil/<%= files.EstudianteID%>">
                                            <div class="text-gray-400 absolute top-0 left-0 mt-2 ml-2">
                                                <p>
                                                    <% if(files.Usuario === name) { %>
                                                    <span class="font-bold">Tú</span>
                                                    <% } else { %>
                                                    <span class="font-bold"><%= files.Usuario %></span>   
                                                    <% } %>
                                                    <span class="italic"><%= new Date(files.Fecha).toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></span>
                                                </p>
                                                
                                            </div>
                                        </a>
                                        <br>
                                        <div class="p-6">
                                            <!-- Agregar imagen de perfil o ícono representativo aquí -->
                                            <h4 class="text-xl font-semibold text-gray-800"><%= files.Titulo %></h4>
                                            <p class="text-gray-700 mt-2"><%= files.Descripcion %></p>
                                            <!-- Rectángulo como botón con icono y texto -->
                                            <br>
                                            <div class="relative w-full">
                                                <div id="custom-file-button" class="bg-white border border-gray-300 rounded-md py-2 px-4 w-full flex items-center ">
                                                    <% if(files.TipoArchivo === '.pdf') { %>
                                                        <i class='bx bxs-file-pdf text-2xl' style='color:#ef1111'></i>
                                                    <% } else if(files.TipoArchivo === '.docx') { %>
                                                        <i class='bx bxs-file-doc text-2xl' style='color:#052890'></i>
                                                    <% } else { %>
                                                        <!-- Icono predeterminado si no coincide con los tipos de archivo especificados -->
                                                        <i class='bx bx-file-find text-2xl' style='color:#ffed25'></i>
                                                    <% } %>
                                                    <span id="file-name" class="text-gray-600"><%= files.ReNombre %></span>
                                                </div>
                                            </div>
                                            <br>
                                            
                                            <div class="mt-4 flex justify-between text-xl items-center">
                                                <div class="flex items-center space-x-4">
                                                    <!-- Agregar botones de acción -->
                                                    <button class="likeButton focus:outline-none">
                                                        <i class="likeIcon bx bx-like text-gray-600 hover:text-blue-500"></i>
                                                    </button>
                                                    <a href="commentary/<%= files.PublicacionID%>" class="focus:outline-none">
                                                        <i class="bx bx-comment text-gray-600 hover:text-blue-500"></i>
                                                    </a>
                                                    <button class="focus:outline-none">
                                                        <a href="<%= files.RutaArchivo %><%= files.TipoArchivo%>" target="_blank">
                                                            <i class='bx bx-cloud-download' ></i>
                                                        </a>
                                                    </button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                            
                        <% }) %>
                    </div>
                    
               

        </main>
    </div>
     <%} else { %>
            <%- include ('plantilla/logout') %>
    <% } %>

    <script>
        // Obtener referencias a los botones y los íconos de "like"
        const likeButtons = document.querySelectorAll('.likeButton');

        // Agregar evento de clic a cada botón de "like"
        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', function() {
                // Obtener el ícono de "like" dentro del botón actual
                const likeIcon = this.querySelector('.likeIcon');

                // Cambiar el color del ícono dependiendo del estado
                if (likeIcon.classList.contains('text-gray-600')) {
                    likeIcon.classList.remove('text-gray-600');
                    likeIcon.classList.add('text-blue-500');
                } else {
                    likeIcon.classList.remove('text-blue-500');
                    likeIcon.classList.add('text-gray-600');
                }

                // Aquí puedes agregar lógica adicional, como enviar una solicitud al servidor para registrar el like.
            });
        });

    </script>
    
</body>
</html>