<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/stylesAdicionales.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* Estilos personalizados */
        #formContainer {
            display: none;
        }
    </style>
</head>
<body class="bg-cover-center bg-black h-screen flex flex-col">

    <%if(login) {%>
        <!-- Barra de navegación -->
        <%- include ('plantilla/navbar') %>
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <%- include ('plantilla/Barra-lateral') %>
        <!-- Contenido principal -->
        <main class="w-3/4 p-4 contenido absolute top-16 left-1/4 bg-white">
       
            

            <div class="bg-gray-300 min-h-screen flex justify-center">
                <% if (perfil) { %>
                        <div class="bg-gray-300 p-8 rounded-md shadow-lg w-full relative">
                            <!-- Foto de perfil -->
                            <div class="flex justify-center mb-4">
                                <img src="../<%= perfil.Perfil %>" alt="Foto de perfil" class="h-24 w-24 rounded-full object-cover">
                            </div>
                            <!-- Nombre y edad -->
                            <div class="text-center mb-4">
                                <h1 class="text-2xl font-bold"><%= perfil.Nombre %> <%= perfil.Apellidos %></h1>
                                <p class="text-gray-500">Edad: <%= perfil.Edad %> años</p>
                            </div>
                            <!-- Información adicional -->
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <h2 class="text-gray-600 font-semibold">Número de Publicaciones</h2>
                                    <p><%= perfil.NumPublicaciones %></p>
                                </div>
                                <div>
                                    <h2 class="text-gray-600 font-semibold">Área de Estudio</h2>
                                    <p><%= perfil.AreaEstudio %></p>
                                </div>
                                <div>
                                    <h2 class="text-gray-600 font-semibold">Correo Electrónico</h2>
                                    <p><%= perfil.CorreoElectronico %></p>
                                </div>
                                <div>
                                    <h2 class="text-gray-600 font-semibold">Nombre de Usuario</h2>
                                    <p><%= perfil.Usuario %></p>
                                </div>
                            </div>
                        </div>

                        <% if (perfil.EstudianteID === IdUser || TipoUsuario === 'Mod') { %>
                        <button id="showFormBtn" onclick="toggleForm()" class="bg-blue-500 text-white px-2 py-1 text-2xl rounded-md hover:bg-blue-600 absolute top-2 right-2"><i class='bx bx-edit-alt' style='color:#ffffff' ></i></button>
                        <!-- Formulario de edición -->

                        <div id="formContainer" class="mt-4 hidden bg-white p-6 rounded-md w-full md:w-2/3 xl:w-2/3">
                            <form action="/update3" method="POST" enctype="multipart/form-data">
                                <input name="PersonaID" id="PersonaID" value="<%= perfil.PersonaID %>" hidden>
                                <input name="EstudianteID" id="EstudianteID" value="<%= perfil.EstudianteID %>" hidden>
                                <div class="mb-4">
                                <div class="mb-4">
                                    <label for="photo" class="block text-sm font-medium text-gray-600">Foto de perfil</label>
                                    <div class="mt-1 w-full">
                                        <input type="file" id="photo" name="photo" class="inputfile opacity-0" />
                                        <label for="photo" class="cursor-pointer bg-blue-500 text-white rounded-md font-medium inline-block p-2 hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200">
                                            <i class="fas fa-upload"></i> Cargar Foto
                                        </label>
                                    </div>
                                    <div id="preview" class="mt-2">
                                        <p class="text-sm">No hay imagen seleccionada.</p>
                                    </div>
                                </div>                                
                                <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200">Cambiar Foto</button>
                                <p class="text-sm text-red-600 mt-2 hidden">Error al registrarse</p>
                            </form><br>
                            <form action="/update2" method="POST" enctype="multipart/form-data">
                                <input name="PersonaID" id="PersonaID" value="<%= perfil.PersonaID %>" hidden>
                                <input name="EstudianteID" id="EstudianteID" value="<%= perfil.EstudianteID %>" hidden>
                                <div class="mb-4">
                                    <label for="Nombre" class="block text-sm font-medium text-gray-600">Nombre</label>
                                    <input type="text" id="Nombre" name="Nombre" class="mt-1 p-2 w-full border rounded-md" placeholder="Nombre..." value="<%= perfil.Nombre %>" required>
                                </div>
                                <div class="mb-4">
                                    <label for="Apellidos" class="block text-sm font-medium text-gray-600">Apellidos</label>
                                    <input type="text" id="Apellidos" name="Apellidos" class="mt-1 p-2 w-full border rounded-md" placeholder="Ingrese su apellido..." value="<%= perfil.Apellidos %>" required>
                                </div>
                                <div class="mb-4">
                                    <label for="AreaEstudio" class="block text-sm font-medium text-gray-600">Área de Estudio</label>
                                    <select id="AreaEstudio" name="AreaEstudio" class="mt-1 p-2 w-full border rounded-md" required>
                                        <option value="" disabled selected>Seleccione su área de estudio...</option> 
                                        <option value="Ciencias">Sistemas Computacionales</option> 
                                        <option value="Humanidades">Gestion Empresarial</option> 
                                        <option value="Ingeniería">Industrial</option> 
                                        <option value="Negocios">Electromecanica</option> 
                                        <option value="Artes">Alimentarias</option> 
                                        <option value="Artes">Innovación Agricola</option> 
                                        <option value="Artes">Arquitectura</option> 
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="birthdate" class="block text-sm font-medium text-gray-600">Fecha de Nacimiento</label>
                                    <input type="date" id="birthdate" name="birthdate" class="mt-1 p-2 w-full border rounded-md" value="<%= perfil.FechaNacimiento %>">
                                </div>                                
                                <div class="mb-4">
                                    <label for="email" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
                                    <input type="email" id="email" name="email" class="mt-1 p-2 w-full border rounded-md" placeholder="Ingrese su correo..." value="<%= perfil.CorreoElectronico %>" required>
                                </div>
                                
                                <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200">Editar</button>
                                <p class="text-sm text-red-600 mt-2 hidden">Error al registrarse</p>
                            </form>
                        </div>
                        
                        
                        <% } %>
                <% } %>
            </div>
            

              
               
            
            
            
            
            
            


            <script>
                function toggleForm() {
                    var formContainer = document.getElementById("formContainer");
                    if (formContainer.style.display === "none") {
                        formContainer.style.display = "block";
                    } else {
                        formContainer.style.display = "none";
                    }
                }
            </script>
            <script>
                document.getElementById('photo').addEventListener('change', function(event) {
                    const output = document.getElementById('preview');
                    if (this.files && this.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            output.innerHTML = '<img src="' + e.target.result + '" class="w-full rounded-md shadow-sm"/>';
                        };
                        reader.readAsDataURL(this.files[0]);
                    } else {
                        output.innerHTML = '<p class="text-sm">No hay imagen seleccionada.</p>';
                    }
                });

            </script>
            
            

        </main>
    </div>
     <%} else { %>
            <%- include ('plantilla/logout') %>
    <% } %>

    

</body>
</html>