<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* Estilos personalizados */
        #formContainer {
            display: none;
        }
    </style>
</head>
<body class="bg-cover-center bg-black h-screen flex flex-col">

    <%if(login) {%>
        <!-- Barra de navegación -->
        <%- include ('plantilla/navbar') %>
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <%- include ('plantilla/Barra-lateral') %>
        <!-- Contenido principal -->
        <main class="w-3/4 p-4 h-full contenido absolute top-16 left-1/4 bg-white">
       
            

            
            <% if (publicaciones) { %>

                <% if(publicaciones.status === 5) {%>
                    <div class="flex flex-grow">
                        <div class="bg-white shadow-lg rounded-lg p-6 mb-6 w-2/3">
                            <div class="relative">
                                <div class="absolute top-0 right-0">
                                    <div class="text-sm text-gray-500">
                                        <%= new Date(publicaciones.Fecha).toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }) %> <%= publicaciones.Hora %>
                                        <input type="text" name="idpublic" id="idpublic" value="<%= publicaciones.PublicacionID %>" hidden>
                                    </div>
                                    <!-- Agregar cualquier otro contenido deseado en la parte superior derecha -->
                                </div>
                            </div>
                            <a href="/perfil/<%= publicaciones.EstudianteID%>">
                                <div class="flex items-center mb-4">
                                    
                                        <img src="../<%= publicaciones.Perfil %>" alt="Foto de perfil" class="shadow-lg h-12 w-12 rounded-full mr-4">
                                        <div>
                                            <h1 class="text-xl font-semibold"><%= publicaciones.Nombre %> <%= publicaciones.Apellidos %> <span class="text-gray-500 p-1 rounded-md">(<%= publicaciones.Usuario %>)</span></h1>
                                        </div>
                                </div>
                            </a>   
                            <h2 class="text-2xl font-semibold mb-4"><%= publicaciones.Titulo %></h2>
                            <p class="text-gray-700 mb-4 "><%= publicaciones.Descripcion %></p>
                            <a href="../<%= publicaciones.RutaArchivo %><%= publicaciones.TipoArchivo %>" target="_blank">
                                <div class="bg-gray-100 border border-gray-300 rounded-md py-2 px-4 w-full flex items-center mb-4">
                                    <% if(publicaciones.TipoArchivo === '.pdf') { %>
                                        <i class='bx bxs-file-pdf text-2xl mr-2' style='color:#ef1111'></i>
                                    <% } else if(publicaciones.TipoArchivo === '.docx') { %>
                                        <i class='bx bxs-file-doc text-2xl mr-2' style='color:#052890'></i>
                                    <% } else { %>
                                        <!-- Icono predeterminado si no coincide con los tipos de archivo especificados -->
                                        <i class='bx bx-file-find text-2xl mr-2' style='color:#ffed25'></i>
                                    <% } %>
                                    <span class="text-gray-600"><%= publicaciones.ReNombre %></span>
                                </div>
                            </a>
                            <div class="flex justify-between">
                                <a href="/Aceptar/<%= publicaciones.PublicacionID %>" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md mr-2">Aceptar</a>
                                <button id="showFormBtn" onclick="toggleForm()" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600">Rechazar</button>
                            </div>
                            <div id="formContainer" class="mt-4 hidden">
                                <form action="/EliminarConMotivo" method="POST" class="bg-gray-100 p-6 rounded-md">
                                    <input name="PublicacionIDForm" id="PublicacionIDForm" value="<%= publicaciones.PublicacionID %>" hidden>
                                    <div class="mb-4">
                                        <label for="RechazoMotivo" class="block text-gray-700 font-bold mb-2">Motivo:</label>
                                        <textarea id="RechazoMotivo" name="RechazoMotivo" rows="4" class="w-full bg-white border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="¿Por qué?..." required></textarea>
                                    </div>
                                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"><i class='bx bxs-paper-plane'></i>Enviar</button>
                                </form>
                            </div>
                        </div>
                        <div class="p-4 w-1/3">
                            <div class="text-lg font-semibold mb-2">Reportes</div>
                            <% resultadosReportes.forEach((reports) => { %>
                                <div class="bg-red-100 rounded-md p-3 mb-3">
                                    <div class="flex items-start">
                                        <img src="../<%= reports.Perfil %>" alt="Perfil" class="h-10 w-10 rounded-full mr-3"> 
                                        <div class="flex flex-col w-full">
                                            <div class="text-sm font-medium text-gray-700">
                                                <%= reports.Usuario %> 
                                            </div>
                                            <div class="text-gray-600 text-sm">
                                                <%= reports.Motivo %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% } else { %>
                    <div class="bg-white shadow-lg rounded-lg p-6 mb-6">
                        <div class="relative">
                            <div class="absolute top-0 right-0">
                                <div class="text-sm text-gray-500">
                                    <%= new Date(publicaciones.Fecha).toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }) %> <%= publicaciones.Hora %>
                                    <input type="text" name="idpublic" id="idpublic" value="<%= publicaciones.PublicacionID %>" hidden>
                                </div>
                                <!-- Agregar cualquier otro contenido deseado en la parte superior derecha -->
                            </div>
                        </div>
                        <a href="/perfil/<%= publicaciones.EstudianteID%>">
                            <div class="flex items-center mb-4">
                                
                                    <img src="../<%= publicaciones.Perfil %>" alt="Foto de perfil" class="shadow-lg h-12 w-12 rounded-full mr-4">
                                    <div>
                                        <h1 class="text-xl font-semibold"><%= publicaciones.Nombre %> <%= publicaciones.Apellidos %> <span class="text-gray-500 p-1 rounded-md">(<%= publicaciones.Usuario %>)</span></h1>
                                    </div>
                            </div>
                        </a>   
                        <h2 class="text-2xl font-semibold mb-4"><%= publicaciones.Titulo %></h2>
                        <p class="text-gray-700 mb-4 "><%= publicaciones.Descripcion %></p>
                        <a href="../<%= publicaciones.RutaArchivo %><%= publicaciones.TipoArchivo %>" target="_blank">
                            <div class="bg-gray-100 border border-gray-300 rounded-md py-2 px-4 w-full flex items-center mb-4">
                                <% if(publicaciones.TipoArchivo === '.pdf') { %>
                                    <i class='bx bxs-file-pdf text-2xl mr-2' style='color:#ef1111'></i>
                                <% } else if(publicaciones.TipoArchivo === '.docx') { %>
                                    <i class='bx bxs-file-doc text-2xl mr-2' style='color:#052890'></i>
                                <% } else { %>
                                    <!-- Icono predeterminado si no coincide con los tipos de archivo especificados -->
                                    <i class='bx bx-file-find text-2xl mr-2' style='color:#ffed25'></i>
                                <% } %>
                                <span class="text-gray-600"><%= publicaciones.ReNombre %></span>
                            </div>
                        </a>
                        <div class="flex justify-between">
                            <a href="/Aceptar/<%= publicaciones.PublicacionID %>" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-md mr-2">Aceptar</a>
                            <button id="showFormBtn" onclick="toggleForm()" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600">Rechazar</button>
                        </div>
                        <div id="formContainer" class="mt-4 hidden">
                            <form action="/EliminarConMotivo" method="POST" class="bg-gray-100 p-6 rounded-md">
                                <input name="PublicacionIDForm" id="PublicacionIDForm" value="<%= publicaciones.PublicacionID %>" hidden>
                                <div class="mb-4">
                                    <label for="RechazoMotivo" class="block text-gray-700 font-bold mb-2">Motivo:</label>
                                    <textarea id="RechazoMotivo" name="RechazoMotivo" rows="4" class="w-full bg-white border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="¿Por qué?..." required></textarea>
                                </div>
                                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"><i class='bx bxs-paper-plane'></i>Enviar</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } %>
            
            
            
            
            
            


            <script>
                function toggleForm() {
                    var formContainer = document.getElementById("formContainer");
                    if (formContainer.style.display === "none") {
                        formContainer.style.display = "block";
                    } else {
                        formContainer.style.display = "none";
                    }
                }
            </script>
            
            

        </main>
    </div>
     <%} else { %>
            <%- include ('plantilla/logout') %>
    <% } %>

    

</body>
</html>