<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivos</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body class="bg-cover-center bg-black h-screen flex flex-col">
        
    <%if(login) {%>
        <!-- Barra de navegación -->
        <%- include ('plantilla/navbar') %>
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <%- include ('plantilla/Barra-lateral') %>
        <!-- Contenido principal -->
        <main class="w-3/4 p-4 contenido absolute h-full top-16 left-1/4">
            <div class="mx-auto bg-gray-200 p-6 rounded-md shadow-md">
                <h1 class="text-2xl font-semibold mb-4">Subir Archivos</h1>
                <form action="/uploadArchivo" method="post" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label for="Titulo" class="block text-gray-700 font-bold mb-2">Título de la Publicación</label>
                        <input type="text" class="w-full" id="Titulo" name="Titulo" placeholder="Ingrese in titulo..." required>
                    </div>
                    <div class="mb-4">
                        <label for="description" class="block text-gray-700 font-bold mb-2">Descripción:</label>
                        <textarea id="description" name="description" rows="4" class="w-full" placeholder="Habla sobre..." required></textarea>
                    </div>
                    <div class="mb-4">
                        <label for="file" class="block text-gray-700 font-bold mb-2">Seleccionar Archivo:</label>
                        <div class="relative w-full">
                            <input type="file" id="file" name="file" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" onchange="updateFileName(this)">
                            <div id="custom-file-button" class="bg-white border border-gray-300 rounded-md py-2 px-4 w-full flex items-center justify-between">
                                <span id="file-name" class="text-gray-600">Selecciona un archivo</span>
                                <svg class="h-6 w-6 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                        <i class='bx bxs-paper-plane'></i> Subir Archivo
                    </button>
                </form>
            </div>
        </main>
        
    </div>
        <%} else { %>
            <%- include ('plantilla/logout') %>
    <% } %>

    <script>
        function updateFileName(input) {
            const fileName = input.files[0].name;
            document.getElementById('file-name').innerText = fileName;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%if (typeof alert != "undefined") { %>
        <script>
            let timerInterval;
            Swal.fire({
            title: '<%= alertTitle %>',
            html: "Subiendo en <b></b> milisegunndos.",
            timer: '<%= timer %>',
            timerProgressBar: '<% showConfirmButton %>',
            didOpen: () => {
                Swal.showLoading();
                const timer = Swal.getPopup().querySelector("b");
                timerInterval = setInterval(() => {
                timer.textContent = `${Swal.getTimerLeft()}`;
                }, 100);
            },
            willClose: () => {
                clearInterval(timerInterval);
            }
            }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === Swal.DismissReason.timer) {
                console.log("I was closed by the timer");
            }
            }).then(() => {
                window.location = '/<%= ruta %>';
            });
        </script>
    <% } %>
</body>
</html>