<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduShare</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body class="bg-cover-center bg-black h-screen flex flex-col" style="background-image: url('resources/img/Fondo 3.jpg');">
        
    <%if(login) {%>
        <!-- Barra de navegación -->
        <%- include ('plantilla/navbar') %>
        <!-- Contenido del dashboard -->
        <div class="flex flex-grow">
        <!-- Barra lateral -->
        <%- include ('plantilla/Barra-lateral') %>
        <!-- Contenido principal -->
        <main class="w-3/4 p-4 contenido absolute top-16 left-1/4">
                <div class=" overflow-y-auto">
                    <div class="container mx-auto">
                        <div class="relative">
                        </div>
                        
                    
                        <table class="w-full border-collapse border border-gray-300">
                            <thead>
                                <tr>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider hidden">ID</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Foto</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nombre</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Apellidos</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Correo</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Area de estudio</th>
                                    <th scope="col" class="px-6 py-3 bg-gray-100 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% results.forEach((user) => { %>
                                <tr class="border-t border-gray-300">
                                    <td class="px-6 py-4 whitespace-nowrap hidden"><%= user.PersonaID %></td>
                                    <td class="px-6 py-4 whitespace-nowrap"><img src="<%= user.Perfil %>" alt="Perfil" class="h-10 w-10 rounded-full mr-3"></td>
                                    <td class="px-6 py-4 whitespace-nowrap"><%= user.Nombre %></td>
                                    <td class="px-6 py-4 whitespace-nowrap"><%= user.Apellidos %></td>
                                    <td class="px-6 py-4 whitespace-nowrap"><%= user.CorreoElectronico %></td>
                                    <td class="px-6 py-4 whitespace-nowrap"><%= user.AreaEstudio %></td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        <a href="/perfil/<%= user.EstudianteID %>" class="text-blue-600 hover:text-blue-900 mr-2"><i class='bx text-2xl bxs-edit'></i></a>
                                        <a href="/delete/<%= user.PersonaID %>" class="text-red-600 hover:text-red-900">
                                            <i class='bx bx-trash text-2xl' style='color:#f30e0e'></i>
                                        </a>
                                        
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div> 
                </div>
            




            
        </main>
    </div>
     <%} else { %>
            <%- include ('plantilla/logout') %>
    <% } %>

    
</body>
</html>